/* 共通部分 */

.v-btn {
  text-transform: none;
  margin: 10px;
}
.error-message {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
.router-link-exact-active {
  color: white;
  text-decoration: none;
}

.v-toolbar__title {
  color: white;
  text-decoration: none;
}
.v-image__image{
  top: 28px;
}

/* Home */

/* .home {
  background-image: url("~@/assets/書籍MV.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: cover;
  width: 100%;
  height: 100%;
} */